.tTTSquare1518{
  font-size: 5rem;
  cursor: pointer;
  flex:33%;
  border: none;
  background: transparent;
  align-items: center;
  justify-content: center;
}
.tTTSquare1518:nth-of-type(1), .tTTSquare1518:nth-of-type(2){
  border-right: 2px solid var(--greenDark);
}
.tTTSquare1518 img{
  height: 80px;
  width: 80px;
  margin: 0;
  animation: animateAvatar 0.3s ease-in-out;
}

.tTTSquare1518:disabled{
  cursor: not-allowed;
}

@keyframes animateAvatar {
  0%{
    transform: scale(1.5);
  }
  100%{
    transform: scale(1);
  }
  
}

@media screen and (max-width:850px){
  .tTTSquare1518 img{
    height: 65px;
    width: 65px;
  }
  
}

@media screen and (max-width:450px){
  .tTTSquare1518 img{
    height: 50px;
    width: 50px;
  }
}

@media screen and (max-width:340px){
  .tTTSquare1518 img{
    height: 36px;
    width: 36px;
  }
}

